# 1. Import Dependencies and Dataset

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="darkgrid")

In [18]:
df = pd.read_csv('./data/fatalities_isr_pse_conflict_2000_to_2023.csv')

# 2. Read Acquired Data

In [19]:
# Read transposed data by top 5
df.head().T

,0,1,2,3,4
name,'Abd a-Rahman Suleiman Muhammad Abu Daghash,Usayed Farhan Muhammad 'Ali Abu 'Ali,'Abdallah 'Imad Sa'ed Abu Hassan,Durgham Muhammad Yihya al-Akhras,Raafat 'Omar Ahmad Khamaisah
date_of_event,2023-09-24,2023-09-24,2023-09-22,2023-09-20,2023-09-19
age,32.0,21.0,16.0,19.0,15.0
citizenship,Palestinian,Palestinian,Palestinian,Palestinian,Palestinian
event_location,Nur Shams R.C.,Nur Shams R.C.,Kfar Dan,'Aqbat Jaber R.C.,Jenin R.C.
event_location_district,Tulkarm,Tulkarm,Jenin,Jericho,Jenin
event_location_region,West Bank,West Bank,West Bank,West Bank,West Bank
date_of_death,2023-09-24,2023-09-24,2023-09-22,2023-09-20,2023-09-19
gender,M,M,M,M,M
took_part_in_the_hostilities,NaN,NaN,NaN,NaN,NaN
place_of_residence,Nur Shams R.C.,Nur Shams R.C.,al-Yamun,'Aqbat Jaber R.C.,Jenin
place_of_residence_district,Tulkarm,Tulkarm,Jenin,Jericho,Jenin
type_of_injury,gunfire,gunfire,gunfire,gunfire,gunfire
ammunition,live ammunition,live ammunition,live ammunition,live ammunition,live ammunition
killed_by,Israeli security forces,Israeli security forces,Israeli security forces,Israeli security forces,Israeli security forces
notes,Fatally shot by Israeli forces while standing ...,Fatally shot by Israeli forces while trying to...,Fatally shot by soldiers while firing at them ...,Shot in the head by Israeli forces while throw...,Wounded by soldiers’ gunfire after running awa...

In [20]:
df.shape

(11124, 16)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11124 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11124 non-null  object
 1   date_of_event                 11124 non-null  object
 2   age                           10995 non-null  float64
 3   citizenship                   11124 non-null  object
 4   event_location                11124 non-null  object
 5   event_location_district       11124 non-null  object
 6   event_location_region         11124 non-null  object
 7   date_of_death                 11124 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  9694 non-null   object
 10  place_of_residence            11056 non-null  object
 11  place_of_residence_district   11056 non-null  object
 12  type_of_injury                10833 non-null  object
 13  ammunition                    5871 non-null   object
 14  killed_by                     11124 non-null  object
 15  notes                         10844 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [22]:
df.describe()

                age
count  10995.000000
mean      26.745703
std       13.780548
min        1.000000
25%       19.000000
50%       23.000000
75%       31.000000
max      112.000000

In [23]:
# Check missing value
df.isna().sum()

name                               0
date_of_event                      0
age                              129
citizenship                        0
event_location                     0
event_location_district            0
event_location_region              0
date_of_death                      0
gender                            20
took_part_in_the_hostilities    1430
place_of_residence                68
place_of_residence_district       68
type_of_injury                   291
ammunition                      5253
killed_by                          0
notes                            280
dtype: int64

In [46]:
print(df['date_of_event'].head(), df['date_of_death'].head())

0    2023-09-24
1    2023-09-24
2    2023-09-22
3    2023-09-20
4    2023-09-19
Name: date_of_event, dtype: object 0    2023-09-24
1    2023-09-24
2    2023-09-22
3    2023-09-20
4    2023-09-19
Name: date_of_death, dtype: object

|#|Column Name|Description|Missing Value|
|--|--|--|--|
|0|name|사망자 이름|-|
|1|date_of_event|사건 발생 일자|-|
|2|age|사망자 연령|exist|
|3|citizenship|사망자 출신국|-|
|4|event_location|사건 발생 소도시명|-|
|5|event_location_district|사건 발생 구역명|-|
|6|event_location_region|사건 발생 지역명|-|
|7|date_of_death|사망 일자|-|
|8|gender|성별|exist|
|9|took_part_in_the_hostilities|전쟁 참여 여부|exist|
|10|place_of_residence|거주지 대도시명|exist|
|11|place_of_residence_district|거주지 구역명|exist|
|12|type_of_injury|부상 종류|exist|
|13|ammunition|탄약 종류|exist|
|14|killed_by|살해자|-|
|15|notes|사망 원인|exist|

# 3. Data Preprocessing

# 4. Data Analysis

# 5. Data Visualization

# 6. Conclusion and Summary